body {
    margin: 0;
}

.container {
    border: 2px dotted blue;
    width: 80%;
    margin: 30px auto;
}

.main_content {
    float: left;
    width: 70%;
    padding: 12px;
    box-sizing: border-box;
}
.side_bar {
    float: right;
    background-color: lightcoral;
    width: calc( 30% - 12px * 2);
    box-sizing: border-box;
    padding: 12px;
}

.container::after { 
    clear: both;
}   

.main-menu {
    list-style: none; 
    margin: 0;
    padding: 0;
    float: left;

}